repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        language: system
        exclude: "(alembic|migrations)"
        args: [ "--install-types", "--non-interactive" ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        language: system
      - id: ruff-format
        language: system